figure {
  width: 250px;
  min-height: 280px;
  /*height: 320px;*/
  border: 0.5px solid rgba(17, 17, 222, 0.496);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#api{
    text-decoration: none;
}
figure:hover {
  background-color: #b58ac0;
}
#button{
    background-color: transparent
    border-radius 30px;
    color:blueviolet;
    border-radius: 20px solid rgba(0,0,0,0);
}
img {
padding-top: 25px;
  height: 150px;
  width: 150px;
  transform: rotateY(0deg); /* Rotación inicial en el eje Y */
  animation: rotateAnimation 60s linear infinite; /*para que roten todo el tiempo las monedas*/
}

@keyframes rotateAnimation {
  100% {
    transform: rotateY(360deg); /* Rotación completa en el eje Y */
  }
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
}
