figure{
    width: 300px;
    height: 320px;
    border: 1px solid rgba(0, 0, 0, 0.496);
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    perspective: 1000px;
    transform-style: preserve-3d;
    
}

img {
    height: 200px;
    width: 200px;
    transform: rotate3d(0, 1, 0, 360deg);; /* Inicialmente no rotada */
  transition: transform 50s ease; /* Transición suave de 0.5 segundos */
}
    


#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 98, 98);
    
}
